@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Dancing+Script&family=Handlee&family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}

/*Encabezado*/
header{
    background-image: url(../img/dribbble_1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -500px;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.transbox{
    position: relative;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.6);
    width: 53%;
    height: 85%;
    border-radius: 50px;
    top: 25px;
}
.titulo{
    position: relative;
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    top: 25px;
} 
h1{
    font-family: "Arima Madurai";
    font-weight: 700;
    font-style: normal;
}
h2{
    font-family: "Julius Sans One";
    font-size: 50px;
    font-weight: bolder;
    text-decoration: solid;
    margin-bottom: 15px;
}
.nombre{
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 70px;
}

/*Botones*/
.boton{
    margin: 0 auto;
    width:25%;
}
button{
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Arima Madurai";
    font-weight: bold;
    font-size: 20px;
    color: white;
}
#c3, #c6{
    background-color: rgb(252, 178, 40);
} 
#c4, #c7{
    background-color: rgb(253, 112, 135);
}
#c5, #c89{
    background-color: lightskyblue;
}

/*Lineas*/
.hr1{
    border: 2px solid;
}
hr{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(180, 180, 180);
}