@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
aside{
    position: fixed;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    margin: 0;
    background: #1CD1B0;
    z-index: 10;
}
.descuento{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    padding: 4px 25px;
    margin: 0px;
    color: #000000;
}
header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    margin-top: 23px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.img{
    position: absolute;
    background-image: url(../img/logo1.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
h1{
    margin-left: 115px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    color: #FFFFFF;
}
.barra{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 30px;
    top: 100px;
    right: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.link{
    padding: 0px 20px;
    text-align: right;
    width: 100%;
}
a{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-decoration: transparent;
    line-height: 33px;
    padding: 0px 5px;
}

/*Cards*/
section{
    margin: 0 auto;
    width: 1200px;
    margin-top: 170px;
    margin-bottom: 55px;
}
article{
    display: inline-block;
    margin: 0px 20px 0px;
}
.recuadro{
    position: relative;
    bottom: 10px;
    width: 350px;
    height: 310px;
    text-align: center;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Heart*/
.fas{
    color: red;
    font-size: 23px;
    padding: 15px 15px;
}

/*Banner*/
.banner{
    width: 350px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.B{
    background-image: url(../img/bg-batman.jpg);
    background-size: cover;
    background-position: center;
}
.H{
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
    background-size: cover;
    background-position: center;
}
.J{
    background-image: url(../img/360_F_300515872_w8RunEfGXkC7Kl3v6zAqTctWlNvnFTb1.jpg);
    background-size: cover;
    background-position: center;
}

/*Icons*/
.logo{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: -80px 110px;
    z-index: 5;
}
.Batman{
    background-image: url(../img/batman.jpg);
    background-size: cover;
    background-position: -80px;
}
.Harley{
    background-image: url(../img/liga-justicia-batman-kO4H--1024x512@abc\ 1.png);
    background-size: cover;
    background-position: center;
}
.Joker{
    background-image: url(../img/rs-193707-Screen-Shot-2015-04-25-at-8.00.41-AM.png);
    background-size: cover;
    background-position: center;
}

/*Texto*/
h2{
    padding-top: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.texto{
    padding: 20px 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #333333;
}

/*Boton*/
.vermas{
    width: 128px;
    height: 45px;
    margin-top: 5px 0px 0px;
    border: transparent;    
    background: #00669F;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}
#boton{
    position: fixed;
    width: 60px;
    height: 60px;
    margin-top: -320px;
    border-radius: 100%;
    border: none;
    background: #00669F;
    bottom: 45%;
    right: 1%;
    z-index: 10;
}
#boton:hover{
    background-color: black;
}
.mas{
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: #FFFFFF;
    bottom: 5px;
}

/*Footer*/
footer{

    width: 100%;
    height: 61px;
    bottom: 0;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFF9F9;
}